body {
  margin: 0;
  padding: 0;
}
.trip-photos-wrapper {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 800px;/*width: 93%;*/
  padding: 20px;
  box-sizing: border-box;
  background-color: lightblue;
}

/*@media (min-width: 800px) {
  .trip-photos-wrapper {
    width: 800px;
  }
}*/

.trip-photo-box {
  /*position: relative;*/
  width: 131.5px;
  height: 89px;/*93px*/
  margin-bottom: 10px;
  margin-right: 10px;

  border: 2px solid red;
  background-color: #ffffff;
}
.trip-photo-box--hover {
  border-style: dashed;
  background-color: #eeeeee;
}
img {
  position: absolute;
  /*top: 0;
  left: 0;*/
  top: 22px;
  left: 22px;
  z-index: 1;

  /*width: 100%;
  height: auto;*/
  width: 131.5px;
  height: 89px;
  box-sizing: border-box;
  /*object-fit: fill;*/

  border: 2px solid #ffffff;

  /*user-select: none;*/
}
