body {
  margin: 0;
  padding: 0;
}
.trip-photos-wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 800px;
  padding: 20px;
  background-color: lightblue;
}

.trip-photo-box {
  /*position: relative;*/
  width: 131.5px;
  height: 89px;/*93px*/

  border: 2px solid red;
  background-color: #ffffff;
}
.trip-photo-box--hover {
  border-style: dashed;
  background-color: #eeeeee;
}
img {
  position: absolute;
  /*top: 0;
  left: 0;*/
  top: 22px;
  left: 22px;
  z-index: 1;

  /*width: 100%;
  height: auto;*/
  width: 131.5px;
  height: 89px;
  box-sizing: border-box;
  /*object-fit: fill;*/

  border: 2px solid #ffffff;
}
